:root{
    --bg: url('')
}

.hide{
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    height: 98.5vh;
    width: 100%;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#inventorybtn {
    display: flex;
    height: 20%;
    width: 40%;
    background-color: #80634A;
}

#interaction {
    display: flex;
    justify-self: center;
    align-self: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}


#dialogSection {
    display: flex;
    justify-self: center;
    align-self: center;
}

#textBox {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    background-image: url('../imgs/dialogBox.png');
    background-size: cover;
    height: 300px;
    width: 950px;
    background-repeat: no-repeat;
    justify-content: flex-end;
    background-position: center;
}

#speakerPic {
    position: fixed;
    left: 50%;
    bottom: 330px;
    transform: translateX(-50%);
    width: 225px;
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    border: 3px solid rgba(255, 255, 255, 0.8);
    border-radius: 0;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.5);
}


#speaker, #dialog {
    margin-left: 75px;
}

#choices {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    align-items: center;
    margin-top: 70px;
    & #poschoice,
    #neuchoice,
    #negchoice {
        width: 180px;
        height: 50px;
        border: none;
        border-radius: 10px;
        cursor: pointer;

    }
}

#poschoice {
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.7);
    &:hover {
        box-shadow: 0 0 15px rgba(0, 255, 0 , 1);
    }
}

#neuchoice {
    box-shadow: 
        0 0 8px rgba(255, 255, 255, 0.8),
        0 0 4px rgba(0, 0, 0, 0.8);
    &:hover {
        box-shadow: 0 0 12px rgba(255, 255, 255, 1);
        box-shadow: 0 0 6px rgba(0, 0, 0, 1);
    }
}

#negchoice {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
    &:hover {
        box-shadow: 0 0 10px rgba(255, 0, 0, 1);
    }
}


/*Backgrounds*/
.cutscene1{
    background-image: url("../imgs/titlescreen.png");/* i'm setting the bg image here and the settings for it*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    min-height: 100vh;
}

.home{
    background-image: url("../imgs/bgs/home.png");/* i'm setting the bg image here and the settings for it*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    min-height: 100vh;
}

.town{
    background-image: url("../imgs/bgs/townHoriz.png");/* i'm setting the bg image here and the settings for it*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    min-height: 100vh;
}

.castleCell{
    background-image: url("../imgs/bgs/castleCell.png");/* i'm setting the bg image here and the settings for it*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    min-height: 100vh;
}

.castleExit{
    background-image: url("../imgs/bgs/castleExit.png");/* i'm setting the bg image here and the settings for it*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    min-height: 100vh;
}

.whitoria{
    background-image: url("../imgs/bgs/home.png");/* i'm setting the bg image here and the settings for it*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    min-height: 100vh;
}

.whitoriaNight{
    background-image: url("../imgs/bgs/home.png");/* i'm setting the bg image here and the settings for it*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    min-height: 100vh;
}

.treasury{
    background-image: url("../imgs/bgs/home.png");/* i'm setting the bg image here and the settings for it*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    min-height: 100vh;
}

.road{
    background-image: url("../imgs/bgs/home.png");/* i'm setting the bg image here and the settings for it*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    min-height: 100vh;
}

.astroFight{
    background-image: url("../imgs/bgs/home.png");/* i'm setting the bg image here and the settings for it*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    min-height: 100vh;
}

.icarusFight{
    background-image: url("../imgs/bgs/home.png");/* i'm setting the bg image here and the settings for it*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    min-height: 100vh;
}

.village{
    background-image: url("../imgs/bgs/home.png");/* i'm setting the bg image here and the settings for it*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    min-height: 100vh;
}


/* speakers */
.Narrator{
    background-image: url(../imgs/characters/narrator.png) ;
}

.Player{
    background-image: url(../imgs/player-states/Neutral\ Neutral.png);
}

.royalGuard{
    background-image: url(../imgs/characters/royalGuard.png);
}

.Yapper{
    background-image: url(../imgs/characters/yapper.png);
}

.Prophet{
    background-image: url(../imgs/characters/prophet.png);
}

.granny{
    background-image: url(../imgs/characters/granny.png);
}
