@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Sekuya&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap'); /*gets the font from google so i can use it here*/
:root{
    --main-font: "Italianno", cursive; /*this is the font i'm using for this page */
    --pri: white;
}

@keyframes shadow-pulse {
    0% {
      box-shadow: 0 4px 20px #FFF755;
    }
    100% {
      /* Increase the blur and spread radius to "grow" the shadow */
      box-shadow: 0 4px 40px 10px #FFF755;
    }
}

body{
    display: flex;
    flex-direction: column;
    background-image: url("../imgs/titlescreen.png");/* i'm setting the bg image here and the settings for it*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    min-height: 100vh;
}

@media (orientation: portrait){ /* if height is larger than width media query is very very useful*/
    body{
        display: grid;
        background-image: url("../imgs/vertTitlescreen.png"); /*transforms to vertical variation*/
        grid-template-areas: "." 
                             "."
                             "."
                             "s"                          /* Slightly off-centers the play button and title and positions it all where we want it */
                             "."
                             "."
                             "."
                             ".";
    }
    section{
        display: flex;
        flex-direction: column;
        grid-area: s;
    }
    #play {
        cursor: pointer;
        box-shadow: 0 4px 80px 0 #FFF755, 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        animation: shadow-pulse 0.75s infinite alternate ease-in-out;
    }
}

body, a{
    font-family: var(--main-font); /*giving everything the font I want*/
    
}

a{
    width: clamp(225px, 25%, 40%); /*clamp is cool its really convenient compared to media queries, the min width is 100px, 
                                    the preferred width is 25%, and the max is 50%*/
    height: clamp(75px, 7vw, 10vw);
    font-size: clamp(20px, 1.8rem + 1.5vw, 10rem + 1vw);
    border-radius: 15px;
    align-self: center;
    background: linear-gradient(90deg, rgba(199, 175, 82, 0.92) 0%, rgba(74, 42, 14, 0.92) 100%); /*got the the box properties from figma hifi so i diddnt have to finnick with the settings and stuff and save time*/
    box-shadow: 0 4px 20px 0 #FFF755, 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: var(--pri);
    border: var(--pri), 3px, solid;
    text-decoration: none;
    text-align: center;
    place-content: center;
    
}

h1{
    color: var(--pri);
    text-shadow: 4px -3px 4px #533900, -4px 3px 2.5px #B3B600; /*also got this from figma*/
    font-size: clamp(45px, 7vw, 100px);
    text-align: center;
}

#play:hover {
    cursor: pointer;
    box-shadow: 0 4px 80px 0 #FFF755, 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    animation: shadow-pulse 0.75s infinite alternate ease-in-out;
}


section{
    display: flex;
    flex-direction: column;
}

